<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>board list!!</h1>

<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">글제목</th>
        <th class="two wide">작성자</th>
        <th class="three wide">작성일</th>
    </tr>
    </thead>

    <form action="/searchContentByContentWord">
        <input type="text" name="word" th:placeholder="${tossWord.word}">
        <input type="submit" value="검색" >
    </form>

    <br>

    <form action="/gotoContent">
        <input type="submit" value="글 작성">
    </form>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="board : ${boardList}">

        <td>
            <span th:text="${board.id}"></span>
        </td>

        <td>
            <a th:href="@{/seeContent (contentId=${board.id}, contentMaker=${board.user_id}) }">
                <span th:text="${board.title}"></span>
            </a>
        </td>

        <td>
            <span th:text="${board.user_id}"></span>
        </td>
        <td>
            <span th:text="${board.writetime}"></span>
        </td>
    </tr>
    </tbody>
</table>

<th:if test="${prev}">
    <form action="/searchContentByContentWord" >
        <input type="hidden" name="num"  th:value="${startPageNum - 1}"  >
        <input type="submit" value="이전" style="float:left;">
        <input type="hidden" name="word"   th:value="${tossWord.word}"  >
    </form>
</th:if>


<th:block  th:each="num: ${#numbers.sequence(startPageNum,endPageNum)}" >
    <form action="/searchContentByContentWord" >
        <input type="submit" name="num"   th:value="${num}" style="float:left;">
        <input type="hidden" name="word"   th:value="${tossWord.word}"  >
    </form>
</th:block >

<th:if test="${next}">
    <form action="/searchContentByContentWord" >
        <input type="hidden" name="num"  th:value="${endPageNum + 1}"  >
        <input type="submit" value="다음" style="float:left;">
        <input type="hidden" name="word"   th:value="${tossWord.word}"  >
    </form>
</th:if>



</body>

</html>